# Canonical requirements file for app component/container: service

# As of September 1, 2020, this canonical requirements file results in the following:
# Successfully installed Flask-SQLAlchemy-2.4.4 Jinja2-2.11.2 MarkupSafe-1.1.1 Werkzeug-0.16.0 aniso8601-8.0.0
# attrs-20.1.0 click-7.1.2 flask-1.1.2 flask-restplus-0.13.0 flask-restplus-sqlalchemy-0.0.3 itsdangerous-1.1.0
# jsonschema-3.2.0 psycopg2-binary-2.8.5 pyrsistent-0.16.0 python-dotenv-0.14.0 pytz-2020.1 six-1.15.0
# sqlalchemy-1.3.19

python-dotenv

pytz

flask

flask-restplus

# This version-pinned Werkzeug is a bug fix to allow flask-restplus install to work because Werkzeug 1.0.0 and 1.0.1
# both break many modules such as the recent flask-restplus versions. Still not fixed as of August 30, 2020.
Werkzeug==0.16.0

# On the Ubuntu 20.04 image there is a problem building 'psycopg2', but psycopg2-binary installs fine and also works
# on MacOS/virtual env.
psycopg2-binary

sqlalchemy

Flask-SQLAlchemy

# This enables Swagger UI to document the DB models
flask-restplus-sqlalchemy
